* {
    margin: 0;
}

.mainfooterdiv {
    max-width: 1200px;
    margin: auto;
    margin-top: 3rem;
}

.footerdiv {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.popupitems {
    margin: 0;
}

.popupitems span {
    cursor: pointer;
    padding-right: 5px;
}

.footerdiv i {
    cursor: pointer;
    margin-right: 0;
}

.footericonsdiv {
    margin-right: 0;
}