
.navMainContainer{
    max-width: 1200px;
    max-height: 200px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.navLogo{
    max-width: 100px;
    align-items: center;
}

.navLeftside{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 0;
}

.navLeftside a{
    color: blue;
}

a{
    text-decoration: none;
}

.navborder{
    padding: 5px;
    background: rgb(239, 119, 0);
    border:0 ;
    border-radius: 100px;
    color: white;
}

.linkwithicon{
    display: flex;
    align-items: center;
}